body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #959595;
}

.title {
    background-color: blue;
}

.title>h1 {
    padding: 20px 0 20px 0;
    margin: 0;
    text-align: center;
    color: white;
}

.title-soal {
    text-align: center;
    font-weight: bold;
}

.image-soal>img {
    width: 100%;
    min-height: 200px;
}

.box-soal {
    min-height: 220px;
    box-shadow: 0px 0px 0.5px 0.5px #767676;
    border-radius: 20px;
    display: none;
}

.rumus {
    background-color: #ececec;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    background-color: #03a4f5;
    border-radius: 5px;
    border-color: #586d9c;
    border-width: 1px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 10px;
    margin-left: 10px;
    transform: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.btn:nth-child(odd) {
    background-color: #26bcbf;
}

.btn:nth-child(even) {
    background-color: #004ae9;
}

.btn:hover {
    background-color: #a2b8e8;
    bottom: 5px;
    transform: translateY(5px);
}

.button-group {
    text-align: center;
}

div.form-group {
    margin: auto;
}

.form-group .btn {
    display: block;
    margin: 10px auto 10px auto;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.form-group .btn.btn-submite{
    background-color: #004ae9;
}

.form-group .btn.btn-reset{
    background-color: #ff9f39;
}

.form-group input {
    padding: 10px;
    margin: 10px auto;
    width: 95%;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
    box-sizing: content-box;
}

.form-group .form-control:hover {
    border-color: #fffc4a;
}

.button-group.hr {
    border-top: black;
}

#result {
    display: none;
    background-color: #41d2be;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
}